version: '3.7'

services:
  mongo:
    container_name: vespira-mongodb
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=dev
      - MONGO_INITDB_ROOT_PASSWORD=pwd1223
      - MONGO_INITDB_DATABASE=root-db
    volumes:
      - ./database/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  node:
    container_name: vespira-node
    build: ./node_container 
    ports:
      - 3000:3000
