<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Vespira</title>

    <meta name="description" content="Vespira Main index.html" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Vespira" />
    <meta property="og:type" content="website" />

    <meta property="og:description" content="Vespira Main index.html" />

    <link rel="shortcut icon" href="#" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Caveat"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <nav>
      <div class="nav-center" role="navigation">
        <div class="nav-wrapper navbar-size">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
              <a target="_blank" href="#" class="vespira-font"
                >Vesp<span style="color: black">i</span>ra.com</a
              >
            </li>
          </ul>
          <a href="#" class="logo"
            ><img class="vespira-logo rotate" src="images/VespiraLogo.png"
          /></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a target="_blank" href="#" class="nav-font">FAQ</a>
            </li>
            <li>
              <a target="_blank" href="#" class="nav-font">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="main-body">
      <div id="particles-js"></div>
      <div class="body-main" id="body-main"></div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/scripts.js" type="module"></script>
    <script src="js/particle.js" type="module"></script>
  </body>
</html>
