<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Vespira</title>

    <meta name="description" content="Vespira Main index.html" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Vespira" />
    <meta property="og:type" content="website" />

    <meta property="og:description" content="Vespira Main index.html" />

    <link rel="shortcut icon" href="#" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Caveat"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <nav>
      <div class="nav-center" role="navigation">
        <div class="nav-wrapper navbar-size">
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
              <a target="_blank" href="#" class="vespira-font"
                >Vesp<span style="color: black">i</span>ra.com</a
              >
            </li>
          </ul>
          <a href="#" class="logo"
            ><img class="vespira-logo rotate" src="images/VespiraLogo.png"
          /></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a target="_blank" href="#" class="nav-font">FAQ</a>
            </li>
            <li>
              <a target="_blank" href="#" class="nav-font">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="main-body">
      <div id="particles-js"></div>
      <div class="body-main" id="body-main">
        <div class="box registration-box1">
          <form action="/register" method="post">
            <!-- asking email -->
            <div class="input-field">
              <input
                name="email"
                type="email"
                type="email"
                id="user-id"
                class="validate"
                required
              />
              <label for="user-id"><i>username</i></label>
            </div>
            <!-- asking username -->
            <div class="input-field">
              <input
                name="username"
                type="text"
                id="user-id"
                class="validate"
                required
              />
              <label for="user-id"><i>email</i></label>
            </div>
            <!-- asking password -->
            <div class="input-field">
              <input
                name="password"
                type="password"
                id="user-pwd"
                class="validate"
                required
              />
              <label for="user-pwd"><i>password</i></label>
            </div>
            <a
              class="btn white-text"
              id="back-to-login"
              style="float: left; text-align: center; text-transform: none"
              href="/login"
            >
              &larr; Return to Login
            </a>
            <button
              class="btn white-text"
              id="register-continue"
              style="float: right; text-align: center; text-transform: none"
              type="submit"
            >
              Continue
            </button>
          </form>
        </div>
        <div class="box registration-box2">
          <div class="row">
            <a
              class="my-btn my-btn-outline-dark"
              href="/users/googleauth"
              role="button"
              ><img
                width="20px"
                style="
                  vertical-align: middle;
                  margin-bottom: 3px;
                  margin-right: 5px;
                "
                alt="Google sign-in"
                src="images/google-logo.png"
              />
              Continue with Google
            </a>
          </div>
          <!-- login with facebook -->
          <div class="row">
            <a
              class="my-btn my-btn-outline-dark"
              href="/users/fbauth"
              role="button"
              ><img
                width="20px"
                style="
                  vertical-align: middle;
                  margin-bottom: 3px;
                  margin-right: 5px;
                "
                alt="Facebook sign-in"
                src="images/facebook-logo.png"
              />
              Continue with Facebook
            </a>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/scripts.js" type="module"></script>
    <script src="js/particle.js" type="module"></script>
  </body>
</html>
