html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-font {
  font-family: "Open Sans";
  font-size: medium;
}

.navbar-size {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.nav-wrapper {
  background-color: #808080;
}

.nav-center {
  text-align: center;
  vertical-align: auto;
  display: inline;
  float: none;
}

.vespira-logo {
  height: 140%;
  position: relative;
  top: -20%;
}

.vespira-font {
  font-size: xx-large;
  font-family: "Caveat";
}

.rotate {
  animation: rotation 10s infinite linear;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(128, 128, 128, 0.2);
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 2.5%;
  border-radius: 10%;
  box-sizing: border-box;
}

.my-btn {
  width: 100%;
  text-transform: none;
  text-align: left;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.my-btn:focus,
.my-btn:hover {
  text-decoration: none;
}
.my-btn.focus,
.my-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.my-btn.disabled,
.my-btn:disabled {
  opacity: 0.65;
}
.my-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.my-btn:not(:disabled):not(.disabled).active,
.my-btn:not(:disabled):not(.disabled):active {
  background-image: none;
}

.my-btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}
.my-btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.my-btn-outline-dark.focus,
.my-btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.my-btn-outline-dark.disabled,
.my-btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}
.my-btn-outline-dark:not(:disabled):not(.disabled).active,
.my-btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .my-btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.my-btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.my-btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .my-btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.input-field {
  width: 100%;
}
