html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-font {
  font-family: "Open Sans";
  font-size: medium;
}

.navbar-size {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.nav-wrapper {
  background-color: #808080;
}

.nav-center {
  text-align: center;
  vertical-align: auto;
  display: inline;
  float: none;
}

.vespira-logo {
  height: 140%;
  position: relative;
  top: -20%;
}

.vespira-font {
  font-size: xx-large;
  font-family: "Caveat";
}

.rotate {
  animation: rotation 10s infinite linear;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(128, 128, 128, 0.2);
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.registration-box1 {
  position: absolute;
  top: 50%;
  left: 17.5%;
  background: rgba(128, 128, 128, 0.2);
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.registration-box2 {
  position: absolute;
  top: 50%;
  left: 82.5%;
  background: rgba(128, 128, 128, 0.2);
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.homepage-box {
  position: absolute;
  top: 55%;
  left: 50%;
  background: rgba(128, 128, 128, 0.2);
  transform: translate(-50%, -50%);
  width: 95%;
  height: 85%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.column-box1 {
  position: absolute;
  top: 50%;
  left: 13%;
  background: rgba(168, 168, 168, 0.2);
  transform: translate(-50%, -50%);
  width: 20%;
  height: 95%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.column-box2 {
  position: absolute;
  top: 50%;
  left: 34%;
  background: rgba(168, 168, 168, 0.2);
  transform: translate(-50%, -50%);
  width: 20%;
  height: 95%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.column-box3 {
  position: absolute;
  top: 50%;
  left: 55%;
  background: rgba(168, 168, 168, 0.2);
  transform: translate(-50%, -50%);
  width: 20%;
  height: 95%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.column-box4 {
  position: absolute;
  top: 50%;
  left: 83%;
  background: rgba(168, 168, 168, 0.2);
  transform: translate(-50%, -50%);
  width: 30%;
  height: 95%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.take-pain-box {
  position: absolute;
  top: 90%;
  left: 53%;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%);
  width: 70%;
  height: 15%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.painpage-box {
  position: absolute;
  top: 55%;
  left: 50%;
  background: rgba(128, 128, 128, 0.2);
  transform: translate(-50%, -50%);
  width: 95%;
  height: 85%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.painpage-mainbox-left {
  position: absolute;
  top: 50%;
  left: 25%;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%);
  width: 45%;
  height: 95%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.painpage-mainbox-right {
  position: absolute;
  top: 50%;
  left: 75%;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%);
  width: 45%;
  height: 35%;
  padding: 2.5%;
  border-radius: 5%;
  box-sizing: border-box;
}

.video-box {
  position: absolute;
  top: 30%;
  left: 52%;
  background: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  border-radius: 5%;
  overflow: hidden;
  box-sizing: border-box;
}

.image-box {
  position: absolute;
  top: 30%;
  left: 50%;
  background: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  width: 65%;
  height: 50%;
  border-radius: 5%;
  box-sizing: border-box;
}

.drag-n-drop-box {
  position: absolute;
  top: 77%;
  left: 52%;
  background: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 40%;
  border-radius: 1%;
  box-sizing: border-box;
  border-style: dashed;
  border-width: 2px;
  align-items: center;
}

.upload {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  left: 47%;
}

.functional-icon {
  height: 30px;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.my-btn {
  width: 100%;
  text-transform: none;
  text-align: left;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mutliline-btn {
  line-height: 1.5;
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: auto;
}
.my-btn:focus,
.my-btn:hover {
  text-decoration: none;
}
.my-btn.focus,
.my-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.my-btn.disabled,
.my-btn:disabled {
  opacity: 0.65;
}
.my-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.my-btn:not(:disabled):not(.disabled).active,
.my-btn:not(:disabled):not(.disabled):active {
  background-image: none;
}

.my-btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}
.my-btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.my-btn-outline-dark.focus,
.my-btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.my-btn-outline-dark.disabled,
.my-btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}
.my-btn-outline-dark:not(:disabled):not(.disabled).active,
.my-btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .my-btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.my-btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.my-btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .my-btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.input-field {
  width: 100%;
}
